body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home, #posts {
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
}

#home {
    width: 400px;
}

#posts {
    width: 800px;
}

#posts table {
    background-color: white;
}

#posts table th {
    text-align: center;
}